In [65]:
import pandas as pd

purchase_csv = "./purchase_data.csv" 

purchase_df = pd.read_csv(purchase_csv)

In [66]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [67]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [68]:
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [69]:
#Total Number of Players
total_players = purchase_df["SN"].unique()

#Summary Table
pd.DataFrame({"Total Players": [len(total_players)]})

   Total Players
0            576

In [77]:
# Number of Unique Items
item_count = purchase_df["Item ID"].unique()

# Average Purchase Price
average_price = purchase_df["Price"].mean()
formatted_mean = "${:,.2f}".format(average_price)

# Total Number of Purchases
purchase_count = purchase_df["Purchase ID"].count()

# Total Revenue
total_revenue = purchase_df["Price"].sum()
formatted_total = "${:,.2f}".format(total_revenue)

# Summary Table
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [len(item_count)],
                                       "Average Purchase Price": [formatted_mean],
                                       "Total Number of Purchases": [purchase_count],
                                       "Total Revenue": [formatted_total]})

purchasing_analysis_df = purchasing_analysis_df.loc[:,["Number of Unique Items","Average Purchase Price","Total Number of Purchases","Total Revenue"]]
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [71]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
# Summary Table

In [ ]:
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender
# Summary Table

In [ ]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group
# Summary Table

In [ ]:
# spenders_df = pd.DataFrame({"SN": [],
#                            "Purchase Count": [],
#                            "Average Purchase Price": [],
#                           "Total Purchase Value": []})


# popular_df = pd.DataFrame({"Item ID": [],
#                            "Item Name": [],
#                            "Purchase Count": [],
#                            "Item Price": [],
#                           "Total Purchase Value": []})

# profitable_df = pd.DataFrame({"Item ID": [],
#                            "Item Name": [],
#                            "Purchase Count": [],
#                            "Item Price": [],
#                           "Total Purchase Value": []})