In [11]:
#Priya Notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

desert = "./Priya's Resources/Food Deserts/food_access_research_atlas.csv"
variable = "./Priya's Resources/Food Deserts/food_access_variable_lookup.csv"
farmers_market = "./Priya's Resources/Farmers Markets/farmers_markets_from_usda.csv"
county_info = "./Priya's Resources/Farmers Markets/wiki_county_info.csv" 

desert_df = pd.read_csv(file)
desert_var = pd.read_csv(variable)
farmers_df = pd.read_csv(farmers_market)
county_df = pd.read_csv(county_info)

In [4]:
df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [9]:
var.head()

         Field                 LongName                        Description
0  CensusTract             Census tract                Census tract number
1        State                    State                         State name
2       County                   County                        County name
3        Urban              Urban tract               Flag for urban tract
4      POP2010  Population, tract total  Population count from 2010 census

In [22]:
farmers_df.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1018261,Caledonia Farmers Market Association - Danville,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,NaN,NaN,NaN,Danville,Caledonia,...,Y,Y,Y,N,N,Y,Y,N,N,6/20/2017 22:43
1,1018318,Stearns Homestead Farmers' Market,http://www.StearnsHomestead.com,StearnsHomesteadFarmersMarket,NaN,NaN,NaN,6975 Ridge Road,Parma,Cuyahoga,...,N,N,Y,N,N,N,N,N,N,6/21/2017 17:15
2,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,Pickens,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
3,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,...,N,N,Y,N,N,N,N,N,N,10/28/2014 9:49
4,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,...,N,N,N,N,N,N,N,N,N,3/1/2012 10:38

In [36]:
county_df.head()

,number,county,State,per capita income,median household income,median family income,population,number of households
0,1,New York County,New York,"$62,498","$69,659","$84,627","1,605,272","736,192"
1,2,Arlington,Virginia,"$62,018","$103,208","$139,244","214,861","94,454"
2,3,Falls Church City,Virginia,"$59,088","$120,000","$152,857","12,731","5,020"
3,4,Marin,California,"$56,791","$90,839","$117,357","254,643","102,912"
4,5,Alexandria City,Virginia,"$54,608","$85,706","$107,511","143,684","65,369"

In [23]:
farmers_df.columns

Index(['FMID', 'MarketName', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'city', 'County', 'State', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'x', 'y', 'Location',
       'Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime'],
      dtype='object')

In [30]:
farmers_access_df = farmers_df.loc[:,['MarketName','city', 'County', 'State','Credit', 'WIC', 'WICcash', 'SFMNP','SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat','Nuts',
       'Poultry', 'Prepared','Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms','Tofu',
       'WildHarvested']]
farmers_access_df.head()

,MarketName,city,County,State,Credit,WIC,WICcash,SFMNP,SNAP,Organic,...,Poultry,Prepared,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,Tofu,WildHarvested
0,Caledonia Farmers Market Association - Danville,Danville,Caledonia,Vermont,Y,Y,N,Y,N,Y,...,Y,Y,Y,Y,Y,N,N,Y,N,N
1,Stearns Homestead Farmers' Market,Parma,Cuyahoga,Ohio,Y,N,N,Y,N,-,...,Y,N,N,N,Y,N,N,N,N,N
2,106 S. Main Street Farmers Market,Six Mile,Pickens,South Carolina,Y,N,N,N,N,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10th Steet Community Farmers Market,Lamar,Barton,Missouri,Y,N,N,N,N,-,...,Y,Y,N,N,Y,N,N,N,N,N
4,112st Madison Avenue,New York,New York,New York,N,N,Y,Y,N,-,...,N,Y,N,N,N,N,N,N,N,N

In [34]:
farmers_access_df.groupby("State").count()

,MarketName,city,County,Credit,WIC,WICcash,SFMNP,SNAP,Organic,Bakedgoods,...,Poultry,Prepared,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,Tofu,WildHarvested
State,,,,,,,,,,,,,,,,,,,,,
Alabama,140,138,138,140,140,140,140,140,140,80,...,80,80,80,80,80,80,80,80,80,80
Alaska,37,37,37,37,37,37,37,37,37,25,...,25,25,25,25,25,25,25,25,25,25
Arizona,93,93,93,93,93,93,93,93,93,66,...,66,66,66,66,66,66,66,66,66,66
Arkansas,111,110,111,111,111,111,111,111,111,65,...,65,65,65,65,65,65,65,65,65,65
California,760,753,755,760,760,760,760,760,760,459,...,459,459,459,459,459,459,459,459,459,459
Colorado,161,161,159,161,161,161,161,161,161,102,...,102,102,102,102,102,102,102,102,102,102
Connecticut,158,158,158,158,158,158,158,158,158,61,...,61,61,61,61,61,61,61,61,61,61
Delaware,36,36,35,36,36,36,36,36,36,31,...,31,31,31,31,31,31,31,31,31,31
District of Columbia,60,60,60,60,60,60,60,60,60,52,...,52,52,52,52,52,52,52,52,52,52
Florida,264,263,263,264,264,264,264,264,264,170,...,170,170,170,170,170,170,170,170,170,170
Georgia,169,166,166,169,169,169,169,169,169,135,...,135,135,135,135,135,135,135,135,135,135
Hawaii,96,96,96,96,96,96,96,96,96,50,...,50,50,50,50,50,50,50,50,50,50
Idaho,66,66,66,66,66,66,66,66,66,42,...,42,42,42,42,42,42,42,42,42,42
Illinois,338,337,337,338,338,338,338,338,338,219,...,219,219,219,219,219,219,219,219,219,219
Indiana,201,201,201,201,201,201,201,201,201,158,...,158,158,158,158,158,158,158,158,158,158
Iowa,227,227,227,227,227,227,227,227,227,106,...,106,106,106,106,106,106,106,106,106,106
Kansas,120,120,120,120,120,120,120,120,120,82,...,82,82,82,82,82,82,82,82,82,82
Kentucky,140,140,140,140,140,140,140,140,140,103,...,103,103,103,103,103,103,103,103,103,103
Louisiana,81,81,81,81,81,81,81,81,81,60,...,60,60,60,60,60,60,60,60,60,60
Maine,96,96,96,96,96,96,96,96,96,68,...,68,68,68,68,68,68,68,68,68,68
Maryland,165,163,163,165,165,165,165,165,165,143,...,143,143,143,143,143,143,143,143,143,143
Massachusetts,326,325,325,326,326,326,326,326,326,252,...,252,252,252,252,252,252,252,252,252,252
Michigan,343,342,341,343,343,343,343,343,343,247,...,247,247,247,247,247,247,247,247,247,247
Minnesota,203,202,202,203,203,203,203,203,203,139,...,139,139,139,139,139,139,139,139,139,139
Mississippi,83,83,83,83,83,83,83,83,83,51,...,51,51,51,51,51,51,51,51,51,51
Missouri,256,255,255,256,256,256,256,256,256,221,...,221,221,221,221,221,221,221,221,221,221
Montana,72,72,72,72,72,72,72,72,72,55,...,55,55,55,55,55,55,55,55,55,55
Nebraska,105,105,105,105,105,105,105,105,105,65,...,65,65,65,65,65,65,65,65,65,65
Nevada,38,38,38,38,38,38,38,38,38,28,...,28,28,28,28,28,28,28,28,28,28
New Hampshire,96,96,96,96,96,96,96,96,96,89,...,89,89,89,89,89,89,89,89,89,89
New Jersey,156,156,156,156,156,156,156,156,156,110,...,110,110,110,110,110,110,110,110,110,110
New Mexico,72,71,71,72,72,72,72,72,72,48,...,48,48,48,48,48,48,48,48,48,48
New York,673,663,669,673,673,673,673,673,673,492,...,492,492,492,492,492,492,492,492,492,492
North Carolina,255,253,253,255,255,255,255,255,255,172,...,172,172,172,172,172,172,172,172,172,172
North Dakota,66,66,66,66,66,66,66,66,66,18,...,18,18,18,18,18,18,18,18,18,18
Ohio,336,336,336,336,336,336,336,336,336,205,...,205,205,205,205,205,205,205,205,205,205
Oklahoma,74,73,73,74,74,74,74,74,74,40,...,40,40,40,40,40,40,40,40,40,40
Oregon,160,159,159,160,160,160,160,160,160,110,...,110,110,110,110,110,110,110,110,110,110
Pennsylvania,312,310,309,312,312,312,312,312,312,173,...,173,173,173,173,173,173,173,173,173,173
Puerto Rico,42,42,42,42,42,42,42,42,42,42,...,42,42,42,42,42,42,42,42,42,42
Rhode Island,38,38,38,38,38,38,38,38,38,35,...,35,35,35,35,35,35,35,35,35,35
South Carolina,133,133,133,133,133,133,133,133,133,69,...,69,69,69,69,69,69,69,69,69,69
South Dakota,41,41,41,41,41,41,41,41,41,26,...,26,26,26,26,26,26,26,26,26,26
Tennessee,133,133,133,133,133,133,133,133,133,93,...,93,93,93,93,93,93,93,93,93,93
Texas,236,236,236,236,236,236,236,236,236,156,...,156,156,156,156,156,156,156,156,156,156
Utah,46,46,46,46,46,46,46,46,46,32,...,32,32,32,32,32,32,32,32,32,32
Vermont,92,91,91,92,92,92,92,92,92,78,...,78,78,78,78,78,78,78,78,78,78
Virgin Islands,4,4,4,4,4,4,4,4,4,0,...,0,0,0,0,0,0,0,0,0,0
Virginia,263,262,262,263,263,263,263,263,263,205,...,205,205,205,205,205,205,205,205,205,205
Washington,176,176,176,176,176,176,176,176,176,140,...,140,140,140,140,140,140,140,140,140,140
West Virginia,94,94,94,94,94,94,94,94,94,67,...,67,67,67,67,67,67,67,67,67,67
Wisconsin,311,311,311,311,311,311,311,311,311,210,...,210,210,210,210,210,210,210,210,210,210
Wyoming,50,50,50,50,50,50,50,50,50,36,...,36,36,36,36,36,36,36,36,36,36

In [37]:
county_df.groupby("State").count()

,number,county,per capita income,median household income,median family income,population,number of households
State,,,,,,,
Alabama,67,67,67,67,67,67,67
Alaska,29,29,29,29,29,29,29
American Samoa,1,1,1,1,1,1,1
Arizona,15,15,15,15,15,15,15
Arkansas,75,75,75,75,75,75,75
California,58,58,58,58,58,58,58
Colorado,64,64,64,64,64,64,64
Connecticut,8,8,8,8,8,8,8
Delaware,3,3,3,3,3,3,3
District of Columbia,1,1,1,1,1,1,1
Florida,67,67,67,67,67,67,67
Georgia,159,159,159,159,159,159,159
Guam,1,1,1,1,1,1,1
Hawaii,5,5,5,5,5,5,5
Idaho,44,44,44,44,44,44,44
Illinois,102,102,102,102,102,102,102
Indiana,92,92,92,92,92,92,92
Iowa,99,99,99,99,99,99,99
Kansas,105,105,105,105,105,105,105
Kentucky,120,120,120,120,120,120,120
Louisiana,64,64,64,64,64,64,64
Maine,16,16,16,16,16,16,16
Maryland,24,24,25,25,25,25,25
Massachusetts,14,14,14,14,14,14,14
Michigan,83,83,83,83,83,83,83
Minnesota,87,87,87,87,87,87,87
Mississippi,82,82,82,82,82,82,82
Missouri,115,115,115,115,115,115,115
Montana,56,56,56,56,56,56,56
Nebraska,93,93,93,93,93,93,93
Nevada,17,17,17,17,17,17,17
New Hampshire,10,10,10,10,10,10,10
New Jersey,21,21,22,22,22,22,22
New Mexico,33,33,33,33,33,33,33
New York,62,62,62,62,62,62,62
North Carolina,100,100,100,100,100,100,100
North Dakota,53,53,53,53,53,53,53
Northern Mariana Islands,3,3,3,3,3,3,3
Ohio,88,88,88,88,88,88,88
Oklahoma,77,77,77,77,77,77,77
Oregon,36,36,36,36,36,36,36
Pennsylvania,67,67,67,67,67,67,67
Puerto Rico,77,77,78,78,78,78,78
Rhode Island,5,5,5,5,5,5,5
South Carolina,46,46,46,46,46,46,46
South Dakota,66,66,66,66,66,66,66
Tennessee,95,95,95,95,95,95,95
Texas,254,254,254,254,254,254,254
U.S. Virgin Islands,3,3,3,3,3,3,3
Utah,29,29,29,29,29,29,29
Vermont,14,14,14,14,14,14,14
Virginia,134,134,134,134,134,134,134
Washington,39,39,39,39,39,39,39
West Virginia,55,55,55,55,55,55,55
Wisconsin,72,72,72,72,72,72,72
Wyoming,23,23,23,23,23,23,23